<!-- app/views/events/index.html.erb -->

<% if @events.present? %>
  <h1>Your Events</h1>

  <% @events.each do |event| %>
    <div>
      <h2><%= event.name %></h2>
      <p><%= event.description %></p>
      <p>Start Time: <%= event.start_time %></p>
      <p>End Time: <%= event.end_time %></p>
       <%= link_to "Show this event", event %>
      <!-- Add more event details as needed -->
    </div>
  <% end %>
<% else %>
  <h1>No events found </h1>
<% end %>

